@font-face {
  font-family: 'Comic Sans MS';
  src: url('/ass/Comic\ Sans\ MS.ttf');
}

body {
  font-family: 'Comic Sans MS';
  background-image: url('/ass/background.png');
  background-size: 64px;
  font-size: 20px;
  color: #fff;
}

a {
  background: #fff4;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 30px;
}

#banner {
  position: absolute;
  top: 0;
  left: 0;
  background: red; 
  color: yellow; 
  width: 100%; 
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.rows {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

img {
  margin-bottom: 16px;
}