@font-face {
  font-family: 'Comic Sans MS';
  src: url('/ass/Comic\ Sans\ MS.ttf');
}

body {
  font-family: 'Comic Sans MS';
  background-image: url('/ass/background.png');
  background-size: 64px;
  font-size: 20px;
  color: #fff;
}

a {
  background: #fff4;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0;
  line-height: 30px;
}

#banner span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: red; 
  color: yellow; 
  width: 100%; 
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.rows {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

body.images img {
  margin-bottom: 16px;
}

iframe {
  width: 480px;
  height: 360px;
}

.al {
  border-left: 4px solid #fff;
  padding-left: 16px;
}

.link {
  cursor: pointer;
}

.tiny {
  font-size: 14px;
}

details {
  font-size: 20px;
  background: #000a;
  border: 1px solid #000;
  border-radius: 10px;
  padding-left: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

details > div, .tiny {
  margin-left: 6px;
  border-left: 4px solid #fff;
  padding-left: 16px;
}

summary {
  font-size: 30px;
  cursor: pointer;
}